<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentManagementBeta.Properties.Settings.GestionEtudiantConnectionString"
            connectionString="Data Source=LAPTOP-6FC5V9I1\SQLEXPRESS;Initial Catalog=GestionEtudiant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>